$primary: #8e43e7;
$secondary: #1cc7d0;

$info: #00aeff;
$success: #2baf2b;
$warning: #ffd900;
$danger: #ff0000;

$body-bg: #eee;

$font-family-sans-serif: "Roboto", sans-serif;

@import "~bootstrap/scss/bootstrap";
